.type {
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 30px;
  display: flex;

  label:has(:checked) {
    color: #ea8a00;
    font-weight: bold;

    &:before {
      content: '';
      height: 5px;
      width: 100%;
      background-color: #ea8a00;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  label {
    color: #808080;
    padding: 13px 30px;
    position: relative;
    
    &:hover {
      text-decoration: underline;
    }
    input {
      display: none;
    }
  }
}

.test {
  display: none;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;

  label {
    border: 1px solid #cfcfcf;
    padding: 6px 5px;
    display: flex;
    align-items: center;

    input {
      width: 15px;
      height: 15px;
      position: relative;
      top: -1px;
      cursor: pointer;
      margin-right: 5px;
    }
  }
  
  margin-bottom: 30px;
}

.bunya {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px 0;
  margin-bottom: -50px;
  
  .subcategory {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    &[data-index="0"], &[data-index="1"] {
      grid-column: 1;
    }
    &[data-index="2"]{
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
    label {
      display: flex;
      position: relative;
      
      input {
        cursor: pointer;
      }
      &:first-child {
        margin-left: -15px;
        font-weight: bold;
        text-decoration: underline;
      }
      &:not(:first-child):before {
        content: "";
        display: block;
        position: absolute;
        left: -10px;
        top: -5px;
        width: 5px;
        background-color: #e9e9e9;
        height: 34px;
      }
    }
  }
}

.options {
  border: 1px solid #cfcfcf;
  padding: 22px 16px 16px 16px;
  position: relative;
  margin-top: 30px;
  display: flex;
  gap: 30px;
  
  &:before {
    content: 'オプション項目';
    position: absolute;
    font-weight: bold;
    background-color: white;
    padding: 0 3px;
    top: -12px;
  }
  input {
    width: 14px;
    height: 14px;
    position: relative;
    top: 1px;
    margin-right: 5px;
  }
  label {
    color: black !important;
  }
}

.footerBtn {
  position: initial;
  bottom: initial;
  box-shadow: initial;
  width: initial;
  
  button:after {
    content: 'START';
  }
}

label {
  user-select: none;
  cursor: pointer;
  
  &:not(:has( :checked)) {
    color: grey;
  }
}
